<div class="docs-header" id="content">
  <div class="container">
  	{% if page.title%}
  		<!--
		    <h1>{{ page.title }}</h1>
		    <p>Post on {{ page.date | date: "%b %d, %Y" }} by <a href="/about">{{ site.author }}</a></p>
		-->
		    <h1>{{ site.motto }}</h1>
    {% else %}
	    <h1>{{ site.name }}</h1>
	    <p>{{ site.description }}</p>
    {% endif %}
  </div>
</div>
<!-- 标题动画 -->
	<script>
	 var title = document.title;
		var tit;
		function doTitle(){
			var num = parseInt(6*Math.random());
			var arr = new Array();
			arr[0] = '╭ (￣︶￣)ψ ';
			arr[1] = '(づ￣ 3￣)づ';
			arr[2] = '┌(￣◇￣)┘    ';
			arr[3] = 'ヘ(￣ω￣ヘ) ';
			arr[4] = '(┘￣ ￣)┘   ';
			arr[5] = '└(￣ ￣└)   ';
			document.title = arr[num] +' 记得回来哦';
		}
		window.onblur = function() {
			doTitle();
			tit = setInterval(doTitle, 200);
		};
		window.onfocus = function() {
			document.title = title;
			clearInterval(tit);
		};
	</script>
