<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title | append: ' - ' |append: site.name }}</title>

	<link rel="shortcut icon" href="{{ '/styles/images/favicon.jpg' | prepend: site.baseurl }}">
	<link rel="icon" href="{{ '/styles/images/favicon.jpg' | prepend: site.baseurl }}">

	<link rel="stylesheet" href="{{ '/styles/css/index.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/styles/css/fontawesome/css/font-awesome.min.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/styles/css/syntax.css' | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ '/feed.xml' | prepend: site.baseurl }}">
	
	<meta name="keywords" content="{{ page.title | append: ', ' | append: site.name | append: ', ' | append: site.meta_description}}">
	<meta name="description" content="{{site.meta_description}}">

	<script src="{{ '/styles/js/jquery.min.js' | prepend: site.baseurl }}"></script>
	<!--[if lt IE 9]>
    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  	<![endif]-->
  	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?{{ site.baidu_analysis }}";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<!-- 标题动画 -->
	<script>
	 var title = document.title;
		var tit;
		function doTitle(){
			var num = parseInt(6*Math.random());
			var arr = new Array();
			arr[0] = '╭ (￣︶￣)ψ ';
			arr[1] = '(づ￣ 3￣)づ';
			arr[2] = '┌(￣◇￣)┘    ';
			arr[3] = 'ヘ(￣ω￣ヘ) ';
			arr[4] = '(┘￣ ￣)┘   ';
			arr[5] = '└(￣ ￣└)   ';
			document.title = arr[num] +' 记得回来哦';
		}
		window.onblur = function() {
			doTitle();
			tit = setInterval(doTitle, 200);
		};
		window.onfocus = function() {
			document.title = title;
			clearInterval(tit);
		};
	</script>
  	<style type="text/css">
	  	.docs-content{
	  		margin-bottom: 10px;
	  	}
  	</style>
</head>
